<div class="entity-container">
  <h3 id="page-heading">
    <span>القرارات</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      <span jhiTranslate="eTravelApp.airline.home.createLabel"> اضافة قرار جديد </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <div *ngIf="decrees && decrees.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span>#</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decreeNo">
            <span>رقم القرار</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="title">
            <span>العنوان</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="keywords">
            <span>كلمات مفتاحية</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pages">
            <span>عدد الصفحات</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decreeDate">
            <span>تاريخ القرار</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decreeDate">
            <span>سنة القرار</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes">
            <span>ملاحظات</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pdfFileUrl">
            <span>ملف القرار PDF</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <!--          <th scope="col" jhiSortBy="wordFileUrl">-->
          <!--            <span>ملف Word</span>-->
          <!--            <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="decreeStatus">-->
          <!--            <span>حالة القرار</span>-->
          <!--            <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="decreeCategory.name">-->
          <!--            <span>تصنيف القرار</span>-->
          <!--            <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <th scope="col" jhiSortBy="minister.name">
            <span>الوزير</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="government.name">
            <span>الحكومة</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let decree of decrees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/decree', decree.id, 'view']">{{ decree.id }}</a>
          </td>
          <td>{{ decree.decreeNo }}</td>
          <td>{{ decree.title }}</td>
          <td>{{ decree.keywords }}</td>
          <td>{{ decree.pages }}</td>
          <td>{{ decree.decreeDate | formatMediumDate }}</td>
          <td>{{ decree.year }}</td>
          <td>{{ decree.notes }}</td>
          <td>
            <button *ngIf="decree.pdfFileUrl" (click)="openFile(decree.pdfFileUrl)" color="primary" mat-raised-button type="button">
              <mat-icon class="ml-2">picture_as_pdf</mat-icon>
            </button>
          </td>
          <!--          <td>-->
          <!--            <button *ngIf="decree.wordFileUrl" (click)="openFile(decree.wordFileUrl)" color="primary" mat-raised-button type="button">-->
          <!--              <mat-icon class="ml-2">text_snippet</mat-icon>-->
          <!--            </button>-->
          <!--          </td>-->
          <!--          <td>{{ decree.decreeStatus }}</td>-->
          <!--          <td>-->
          <!--            <div *ngIf="decree.decreeCategory">-->
          <!--              <a>{{ decree.decreeCategory?.name }}</a>-->
          <!--            </div>-->
          <!--          </td>-->
          <td>
            <div *ngIf="decree.minister">
              <a>{{ decree.minister?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="decree.government">
              <a>{{ decree.government?.name }}</a>
            </div>
          </td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', decree.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline">عرض</span>
                </button>

                <button [routerLink]="['./', decree.id, 'edit']" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline">تعديل</span>
                </button>
                <button (click)="delete(decree)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline">حذف</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
