<div class="entity-container">
  <h3 id="page-heading">
    <span>اشهارات العلامات التجارية</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="eTravelApp.airline.home.createLabel"> اضافة اشهار جديد </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <!-- Radio buttons for search type -->
    <mat-radio-group [(ngModel)]="searchType" aria-labelledby="search-type-label" class="ml-4">
      <mat-radio-button value="matching">بحث مطابق</mat-radio-button>
      <mat-radio-button value="similar">بحث مشابه</mat-radio-button>
    </mat-radio-group>

    <!-- Dropdown for column selection -->
    <mat-form-field class="ml-4">
      <mat-select [(ngModel)]="selectedColumn" name="selectedColumn">
        <mat-option value="all">كل الحقول</mat-option>
        <mat-option value="applicantName">مقدم الطلب</mat-option>
        <mat-option value="country">الدولة</mat-option>
        <mat-option value="nationality">الجنسية</mat-option>
        <mat-option value="year">السنة</mat-option>
        <mat-option value="decreeNo">رقم القرار</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    *ngIf="trademarkRegistereds && trademarkRegistereds.length > 0; else emptyContent"
    class="col-12 p-0 mat-elevation-z1 mt-3"
    id="entities"
  >
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>#</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trademarkNo"><span>رقم التسجيل</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="year"><span>السنة</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="decreeNo"><span>رقم القرار</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applicantName"><span>مقدم الطلب</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <!--          <th scope="col" jhiSortBy="tradeMarkOwner">-->
          <!--            <span>Trade Mark Owner</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="country"><span>Country</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="nationality"><span>الجنسية</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="address"><span>العنوان</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applyDate"><span>تاريخ التقديم</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trademarkEnglish">
            <span>العلامة انجليزي</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trademarkArabic"><span>العلامة عربي</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="category"><span>الفئة</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <!--          <th scope="col" jhiSortBy="file"><span>File</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <th scope="col" jhiSortBy="fileUrl"><span>الصورة</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <!--          <th scope="col" jhiSortBy="extraFile"><span>Extra File</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <!--          <th scope="col" jhiSortBy="extraFileUrl"><span>Extra File Url</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <!--          <th scope="col" jhiSortBy="notes"><span>Notes</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trademarkRegistered of trademarkRegistereds; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trademark-registered', trademarkRegistered.id, 'view']">{{ trademarkRegistered.id }}</a>
          </td>
          <td>{{ trademarkRegistered.trademarkNo }}</td>
          <td>{{ trademarkRegistered.year }}</td>
          <td>{{ trademarkRegistered.decreeNo }}</td>
          <td>{{ trademarkRegistered.applicantName }}</td>
          <!--          <td>{{ trademarkRegistered.tradeMarkOwner }}</td>-->
          <!--          <td>{{ trademarkRegistered.country }}</td>-->
          <td>{{ trademarkRegistered.nationality }}</td>
          <td>{{ trademarkRegistered.address }}</td>
          <td>{{ trademarkRegistered.applyDate | formatMediumDate }}</td>
          <td>{{ trademarkRegistered.trademarkEnglish }}</td>
          <td>{{ trademarkRegistered.trademarkArabic }}</td>
          <td>{{ trademarkRegistered.category }}</td>

          <td>
            <a href="/api/public/file/download/{{ trademarkRegistered.fileUrl }}" target="_blank">
              <img class="m-3" src="/api/public/file/download/{{ trademarkRegistered.fileUrl }}" style="max-height: 60px" alt="image" />
            </a>
          </td>
          <!--          <td>{{ trademarkRegistered.extraFileUrl }}</td>-->
          <!--          <td>{{ trademarkRegistered.notes }}</td>-->
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', trademarkRegistered.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline">عرض</span>
                </button>

                <button [routerLink]="['./', trademarkRegistered.id, 'edit']" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline">تعديل</span>
                </button>
                <button (click)="delete(trademarkRegistered)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline">حذف</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
