<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="decree">
      <h2 data-cy="decreeDetailsHeading"><span>Decree</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ decree.id }}</span>
        </dd>
        <dt><span>Document No</span></dt>
        <dd>
          <span>{{ decree.documentNo }}</span>
        </dd>
        <dt><span>Decree No</span></dt>
        <dd>
          <span>{{ decree.decreeNo }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ decree.title }}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
          <span>{{ decree.details }}</span>
        </dd>
        <dt><span>Keywords</span></dt>
        <dd>
          <span>{{ decree.keywords }}</span>
        </dd>
        <dt><span>Pages</span></dt>
        <dd>
          <span>{{ decree.pages }}</span>
        </dd>
        <dt><span>Decree Date</span></dt>
        <dd>
          <span>{{ decree.decreeDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Year</span></dt>
        <dd>
          <span>{{ decree.year }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ decree.notes }}</span>
        </dd>
        <dt><span>Pdf File</span></dt>
        <dd>
          <div *ngIf="decree.pdfFile">
            <a (click)="openFile(decree.pdfFile, decree.pdfFileContentType)">open</a>
            {{ decree.pdfFileContentType }}, {{ byteSize(decree.pdfFile) }}
          </div>
        </dd>
        <dt><span>Pdf File Url</span></dt>
        <dd>
          <span>{{ decree.pdfFileUrl }}</span>
        </dd>
        <dt><span>Word File</span></dt>
        <dd>
          <div *ngIf="decree.wordFile">
            <a (click)="openFile(decree.wordFile, decree.wordFileContentType)">open</a>
            {{ decree.wordFileContentType }}, {{ byteSize(decree.wordFile) }}
          </div>
        </dd>
        <dt><span>Word File Url</span></dt>
        <dd>
          <span>{{ decree.wordFileUrl }}</span>
        </dd>
        <dt><span>Decree Status</span></dt>
        <dd>
          <span>{{ decree.decreeStatus }}</span>
        </dd>
        <dt><span>Decree Type</span></dt>
        <dd>
          <div *ngIf="decree.decreeType">
            <a [routerLink]="['/decree-type', decree.decreeType?.id, 'view']">{{ decree.decreeType?.name }}</a>
          </div>
        </dd>
        <dt><span>Decree Category</span></dt>
        <dd>
          <div *ngIf="decree.decreeCategory">
            <a [routerLink]="['/decree-category', decree.decreeCategory?.id, 'view']">{{ decree.decreeCategory?.name }}</a>
          </div>
        </dd>
        <dt><span>Minister</span></dt>
        <dd>
          <div *ngIf="decree.minister">
            <a [routerLink]="['/minister', decree.minister?.id, 'view']">{{ decree.minister?.name }}</a>
          </div>
        </dd>
        <dt><span>Government</span></dt>
        <dd>
          <div *ngIf="decree.government">
            <a [routerLink]="['/government', decree.government?.id, 'view']">{{ decree.government?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/decree', decree.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
