<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="decree">
      <h2 data-cy="decreeDetailsHeading"><span>القرار</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ decree.id }}</span>
        </dd>
        <dt><span>Document No</span></dt>
        <dd>
          <span>{{ decree.documentNo }}</span>
        </dd>
        <dt><span>رقم القرار</span></dt>
        <dd>
          <span>{{ decree.decreeNo }}</span>
        </dd>
        <dt><span>العنوان</span></dt>
        <dd>
          <span>{{ decree.title }}</span>
        </dd>
        <dt><span>التفاصيل</span></dt>
        <dd>
          <span>{{ decree.details }}</span>
        </dd>
        <dt><span>كلمات مفتاحية</span></dt>
        <dd>
          <span>{{ decree.keywords }}</span>
        </dd>
        <dt><span>عدد الصفحات</span></dt>
        <dd>
          <span>{{ decree.pages }}</span>
        </dd>
        <dt><span>تاريخ القرار</span></dt>
        <dd>
          <span>{{ decree.decreeDate | formatMediumDate }}</span>
        </dd>
        <dt><span>سنة القرار</span></dt>
        <dd>
          <span>{{ decree.year }}</span>
        </dd>
        <dt><span>ملاحظات</span></dt>
        <dd>
          <span>{{ decree.notes }}</span>
        </dd>
        <dt><span>Pdf File</span></dt>
        <dd>
          <button *ngIf="decree.pdfFileUrl" (click)="openFile(decree.pdfFileUrl)" color="primary" mat-raised-button type="button">
            <mat-icon class="ml-2">picture_as_pdf</mat-icon>
          </button>
        </dd>

        <dt><span>Extra Pdf File</span></dt>
        <dd>
          <button *ngIf="decree.extraPdfFileUrl" (click)="openFile(decree.extraPdfFileUrl)" color="primary" mat-raised-button type="button">
            <mat-icon class="ml-2">picture_as_pdf</mat-icon>
          </button>
        </dd>
        <dt><span>Decree Status</span></dt>
        <dd>
          <span>{{ decree.decreeStatus }}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
          <span>{{ decree.remarks }}</span>
        </dd>
        <dt><span>Is Hidden</span></dt>
        <dd>
          <span>{{ decree.isHidden }}</span>
        </dd>
        <dt><span>Hide Notes</span></dt>
        <dd>
          <span>{{ decree.hideNotes }}</span>
        </dd>
        <dt><span>Hide End Date</span></dt>
        <dd>
          <span>{{ decree.hideEndDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Decree Type</span></dt>
        <dd>
          <div *ngIf="decree.decreeType">
            <a [routerLink]="['/decree-type', decree.decreeType?.id, 'view']">{{ decree.decreeType?.name }}</a>
          </div>
        </dd>
        <dt><span>تصنيف القرار</span></dt>
        <dd>
          <div *ngIf="decree.decreeCategory">
            <a [routerLink]="['/decree-category', decree.decreeCategory?.id, 'view']">{{ decree.decreeCategory?.name }}</a>
          </div>
        </dd>
        <dt><span>الوزير</span></dt>
        <dd>
          <div *ngIf="decree.minister">
            <a [routerLink]="['/minister', decree.minister?.id, 'view']">{{ decree.minister?.name }}</a>
          </div>
        </dd>
        <dt><span>الحكومة</span></dt>
        <dd>
          <div *ngIf="decree.government">
            <a [routerLink]="['/government', decree.government?.id, 'view']">{{ decree.government?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>رجوع</span>
      </button>
    </div>
  </div>
</div>
