<div class="entity-container">
  <h2 id="page-heading" data-cy="TrademarkDecreeHeading">
    <span>قرارات العلامات التجارية</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trademark-decree"
        [routerLink]="['/trademark-decree/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">اضافة قرار علامة تجارية</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="trademarkDecrees && trademarkDecrees.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span>#</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="year">
            <span>السنة</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decreeNo">
            <span>رقم القرار</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="decreeDate">
            <span>تاريخ القرار</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="applicantName">
            <span>مقدم الطلب(الوكيل)</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trademarkEnglish">
            <span>العلامة التجارية انجليزي</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trademarkArabic">
            <span>العلامة التجارية عربي</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category">
            <span>الفئة</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pdfFileUrl">
            <span>القرار</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trademarkDecree of trademarkDecrees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trademark-decree', trademarkDecree.id, 'view']">{{ trademarkDecree.id }}</a>
          </td>
          <td>{{ trademarkDecree.year }}</td>
          <td>{{ trademarkDecree.decreeNo }}</td>
          <td>{{ trademarkDecree.decreeDate | formatMediumDate }}</td>
          <td>{{ trademarkDecree.applicantName }}</td>
          <td>{{ trademarkDecree.trademarkEnglish }}</td>
          <td>{{ trademarkDecree.trademarkArabic }}</td>
          <td>{{ trademarkDecree.category }}</td>

          <td>
            <button
              [disabled]="!trademarkDecree.pdfFileUrl"
              (click)="openFile(trademarkDecree.pdfFileUrl)"
              color="primary"
              mat-raised-button
              type="button"
            >
              <mat-icon class="ml-2">picture_as_pdf</mat-icon>
            </button>
          </td>

          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', trademarkDecree.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline">عرض</span>
                </button>

                <button [routerLink]="['./', trademarkDecree.id, 'edit']" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline">تعديل</span>
                </button>
                <button (click)="delete(trademarkDecree)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline">حذف</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
