<div class="entity-container">
  <h3 id="page-heading">
    <span>الاعتراضات على اشهارات العلامات التجارية</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="ml-1" color="primary" mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="eTravelApp.airline.home.createLabel"> اضافة اشهار جديد </span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text" />

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="complaints && complaints.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complaintUUID"><span>Complaint UUID</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complaintNo"><span>Complaint No</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trademarkNo"><span>Trademark No</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complaintDate"><span>Complaint Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complaintOfficeReceivedDate">
            <span>Complaint Office Received Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complaintPaymentReceipt">
            <span>Complaint Payment Receipt</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complaintYear"><span>Complaint Year</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complainerPersonFullName">
            <span>Complainer Person Full Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerPersonJob">
            <span>Complainer Person Job</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerPersonNationality">
            <span>Complainer Person Nationality</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerPersonAddress">
            <span>Complainer Person Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerCompanyName">
            <span>Complainer Company Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerCompanyAddress">
            <span>Complainer Company Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerCompanyPurpose">
            <span>Complainer Company Purpose</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerCompanyHeadQuarterAddress">
            <span>Complainer Company Head Quarter Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complainerCompanyLibyaAddress">
            <span>Complainer Company Libya Address</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pdfFile"><span>Pdf File</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pdfFileUrl"><span>Pdf File Url</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="complaintStatus">
            <span>Complaint Status</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="complaintDetails">
            <span>Complaint Details</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes"><span>Notes</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/complaint', complaint.id, 'view']">{{ complaint.id }}</a>
          </td>
          <td>{{ complaint.complaintUUID }}</td>
          <td>{{ complaint.complaintNo }}</td>
          <td>{{ complaint.trademarkNo }}</td>
          <td>{{ complaint.complaintDate | formatMediumDate }}</td>
          <td>{{ complaint.complaintOfficeReceivedDate | formatMediumDate }}</td>
          <td>{{ complaint.complaintPaymentReceipt }}</td>
          <td>{{ complaint.complaintYear }}</td>
          <td>{{ complaint.complainerPersonFullName }}</td>
          <td>{{ complaint.complainerPersonJob }}</td>
          <td>{{ complaint.complainerPersonNationality }}</td>
          <td>{{ complaint.complainerPersonAddress }}</td>
          <td>{{ complaint.complainerCompanyName }}</td>
          <td>{{ complaint.complainerCompanyAddress }}</td>
          <td>{{ complaint.complainerCompanyPurpose }}</td>
          <td>{{ complaint.complainerCompanyHeadQuarterAddress }}</td>
          <td>{{ complaint.complainerCompanyLibyaAddress }}</td>
          <td>
            <a *ngIf="complaint.pdfFile" (click)="openFile(complaint.pdfFile, complaint.pdfFileContentType)">open</a>
            <span *ngIf="complaint.pdfFile">{{ complaint.pdfFileContentType }}, {{ byteSize(complaint.pdfFile) }}</span>
          </td>
          <td>{{ complaint.pdfFileUrl }}</td>
          <td>{{ complaint.complaintStatus }}</td>
          <td>{{ complaint.complaintDetails }}</td>
          <td>{{ complaint.notes }}</td>
          <td class="text-left">
            <div class="btn-group flex-btn-group-container">
              <mat-menu #appMenu="matMenu">
                <button [routerLink]="['./', complaint.id, 'view']" mat-menu-item>
                  <mat-icon>remove_red_eye</mat-icon>
                  <span class="d-none d-md-inline">عرض</span>
                </button>

                <button (click)="openPdfFile(complaint.id)" mat-menu-item>
                  <mat-icon class="ml-2">picture_as_pdf</mat-icon>
                  <span class="d-none d-md-inline">طباعة</span>
                </button>

                <button [routerLink]="['./', complaint.id, 'edit']" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span class="d-none d-md-inline">تعديل</span>
                </button>
                <button (click)="delete(complaint)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span class="d-none d-md-inline">حذف</span>
                </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
